.burgerMenu__Backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #100f10;
    z-index: 4;
    cursor: default;
}
.burgerMenu__Wrapper {
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 3rem;
}
.burgerMenu__List {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.burgerMenu__Item {
    font-size: 5rem;
    transition-property: all;
    transition-duration: 500ms;
    text-shadow: 1px 1px 10px #32d08c;
}
