.dividerTop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}
.grey {
    fill: #23282e;
}
.aquamarine {
    fill: #32d08c;
}
.darkAquamarine {
    fill: #0a2c1d;
}
.orange {
    fill: #f7b733;
}
.darkOrange {
    fill: #fc4a1a;
}

.dividerBottom {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: -1;
}

.dividerBottomUpsideDown {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    margin-top: -7rem;
}

.dividerUpsideDown {
    display: block;
    position: absolute;
    top: 20rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

svg {
    position: relative;
    display: block;
    margin-top: 7rem;
    width: calc(115% + 1.3px);
    height: 150px;
}
