.workItem {
    margin: 2rem 0 3rem 0;
}
.workItem__title {
    color: #385f71;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.workItem__years {
    color: #8f754f;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}
.workItem__subtitle {
    color: #8f754f;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.workItem__list {
    list-style-type: disc;
    padding-left: 3rem;
}
.workItem__item {
}

@media (max-width: 576px) {
    .workItem__item {
        font-size: 2.5rem;
    }
}
